<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
  <modules>
    <remove name="WebDAVModule" />
  </modules>
  <handlers>
    <remove name="WebDAV" />
  </handlers>
            <serverRuntime enabled="true"
         frequentHitThreshold="1"
         frequentHitTimePeriod="05:00:00" />
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="4294967295" maxUrl="4294967295" maxQueryString="4294967295" />
            </requestFiltering>
        </security>
    </system.webServer>
    <system.web>
        <membership defaultProvider="AspNetSqlMembershipProvider" />
        <authentication mode="Forms" />
        <roleManager enabled="true" />
    </system.web>
    <system.net>
        <mailSettings>
            <smtp from="56562@56562.tk">
                <network defaultCredentials="false" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
